.container{
    display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 150%;
}
.title {
    font-size: 25px;
    color:rgb(46, 113, 236);

}
.explain {
    font-size: 18px;
    color: rgb(44, 42, 42);
    line-height: 150%;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }