.container {
    display: inline;
    background-color: beige;
}
.title {
    font-size: 20px;
    color: cadetblue;
}
.email {
    font-size: 15px;
    color: cornflowerblue;

}
.center {
    display: inline;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    transform: scale(0.3,0.3);
  }