.neutitle {
    text-align: center;
    font-size: 30px;
}
.bloc1,.bloc2 {
    display: inline;
}
.line {
  color: grey;
}
.categorycontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  list-style-type: none;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width :20%;

}
.headercategory {
    color: red;
}
.headerweb {
    font: black bold;
}
@media screen and (min-width: 525px) {
    .categorycontainer {
      grid-template-columns: 1fr;
    }
    .neutitle {
      font-size:10 px;
    }
  }
  
  
  @media screen and (min-width: 700px) {
    .categorycontainer {
      grid-template-columns: repeat(4, 1fr);
    }
    .neutitle {
      font-size:30 px;
    }
  }
  